@inject Erebus.Core.Server.Contracts.IServerConfigurationProvider ServerConfigurationProvider
@inject Erebus.Server.Authorization.IAuthorizationLogic AuthorizationLogic
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erebus Password Manager</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/lib/dataTables/media/css/dataTables.bootstrap.css" asp-append-version="true" minified-auto-switch="true" />
    @RenderSection("styles", required: false)

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/js/notify.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true" minified-auto-switch="true"></script>

    <script type="text/javascript">
        $.extend(true, $.fn.dataTable.defaults, {
            "language": {
                "url": "@($"/lib/datatables/localization/{ServerConfigurationProvider.GetConfiguration().Language}.json")",
                "lengthMenu": [[10, 15, 20, 25], [10, 15, 20, 25]]
            }
        });
    </script>
    @RenderSection("scripts", required: false)



</head>
<body>
    @if (AuthorizationLogic.IsLoggedIn)
    {
        <div class="nav-side-menu">
            <div class="brand application-name">@StringResources.ApplicationName<small>@StringResources.ApplicationNameSubtitle</small></div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a asp-action="Index" asp-controller="VaultExplorer" >
                            <i class="fa fa-indent fa-lg"></i> @StringResources.VaultExplorer
                        </a>
                    </li>

                    <li>
                        <a asp-action="Rename" asp-controller="Vault">
                            <i class="fa fa-pencil-square-o fa-lg"></i> @StringResources.RenameVault
                        </a>
                    </li>

                    <li>
                        <a asp-action="ChangePassword" asp-controller="Vault" >
                            <i class="fa fa-unlock-alt fa-lg"></i> @StringResources.ChangeVaultPassword
                        </a>
                    </li>

                    <li>
                        <a asp-action="Logout" asp-controller="Login">
                            <i class="fa fa-sign-out fa-lg fa-rotate-180"></i> @StringResources.Logout
                        </a>
                    </li>

                    @*<li data-toggle="collapse" data-target="#products" class="collapsed active">
                        <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li class="active"><a href="#">CSS3 Animation</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Tabs & Accordions</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">FontAwesome</a></li>
                        <li><a href="#">Slider</a></li>
                        <li><a href="#">Panels</a></li>
                        <li><a href="#">Widgets</a></li>
                        <li><a href="#">Bootstrap Model</a></li>
                    </ul>*@
                </ul>
            </div>
        </div>
    }

    <div class="page-title">
        <h2>@ViewBag.Title <small>@ViewBag.SubTitle</small></h2>
    </div>
    <div class="container-fluid @(AuthorizationLogic.IsLoggedIn ? "body-container" : "")">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(function () {
            $(document).ajaxError(function (e, xhr, settings) {
                if (xhr.status == 401) {
                    location = '@Url.Action( "Index", "Login" )';
                }
            });

            //Bootstrap tooltips init
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover'
            });
        });
    </script>
</body>
</html>
