@inject Erebus.Core.Server.Contracts.IServerConfigurationProvider ServerConfigurationProvider

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erebus Password Manager</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" minified-auto-switch="true" />
    <link rel="stylesheet" href="~/lib/dataTables/media/css/dataTables.bootstrap.css" asp-append-version="true" minified-auto-switch="true" />
    @RenderSection("styles", required: false)

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/js/notify.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true" minified-auto-switch="true"></script>

    <script type="text/javascript">
        $.extend(true, $.fn.dataTable.defaults, {
            "language": {
                "url": "@($"/lib/datatables/localization/{ServerConfigurationProvider.GetConfiguration().Language}.json")",
                "lengthMenu": [[10, 15, 20, 25], [10, 15, 20, 25]]
            }
        });
    </script>
    @RenderSection("scripts", required: false)



</head>
<body>

    <div class="nav-side-menu">
        <div class="brand">Brand Logo</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>


                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Profile
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Users
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-container container-fluid">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(function () {
            $(document).ajaxError(function (e, xhr, settings) {
                if (xhr.status == 401) {
                    location = '@Url.Action( "Index", "Login" )';
                }
            });

            //Bootstrap tooltips init
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover'
            });
        });
    </script>
</body>
</html>
