@model EntryEditViewModel

<bootstrap-modal id="modal-@Model.Id" title="@Model.ModalTitle">
    <modal-body>
        <form id="form-@Model.Id" asp-action="AddOrEditEntry">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ParentId" />
            <div class="form-group">
                <label asp-for="Title" add-metadata-classes="true"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
                <input asp-for="Title" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="UserName" add-metadata-classes="true"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password" add-metadata-classes="true"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group">
                    <input id="modal-password-@Model.Id" asp-for="Password" value="@Model.Password" class="form-control" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@StringResources.ShowHide"
                                onclick="vaultExplorerIndex.toggleShowPassword(this,'modal-password-@Model.Id');">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </span>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@StringResources.Copy"
                                onclick="vaultExplorerIndex.copyPassword('modal-password-@Model.Id');">
                            <span class="glyphicon glyphicon-copy"></span>
                        </button>
                    </span>

                    <span class="input-group-btn">
                        <button id="modal-@Model.Id-generate-password-btn" type="button" class="btn btn-primary"
                                onclick="vaultExplorerIndex.generatePassword('@Model.Id');">
                            <span class="glyphicon glyphicon-export"></span> @StringResources.Generate
                        </button>
                    </span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Url" add-metadata-classes="true"></label>
                <span asp-validation-for="Url" class="text-danger"></span>
                <input asp-for="Url" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description" add-metadata-classes="true"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <input asp-for="Description" class="form-control" />
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button id="modal-@Model.Id-save-btn" type="button" class="btn btn-primary" onclick="vaultExplorerIndex.submitEntryEditForm('form-@Model.Id', 'modal-@Model.Id', '@Model.ParentId');">@StringResources.Save</button>
    </modal-footer>
</bootstrap-modal>

<script type="text/javascript">
    $.validator.unobtrusive.parse($('#form-@Model.Id'));
    $("#modal-@Model.Id").modal({ backdrop: 'static', keyboard: false });
</script>