@model GeneratePasswordViewModel

<bootstrap-modal id="generate-password-modal-@Model.Id" title="@Model.ModalTitle">
    <modal-body>
        <form id="generate-password-form-@Model.Id" asp-action="GeneratePassword">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="PasswordLength" add-metadata-classes="true"></label>
                <span asp-validation-for="PasswordLength" class="text-danger"></span>
                <input asp-for="PasswordLength" class="form-control" />
            </div>


            <div class="checkbox">
                <label>
                    <input asp-for="IncludeLowerCase" />
                    @StringResources.IncludeLowerCase
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input asp-for="IncludeUpperCase" />
                    @StringResources.IncludeUpperCase
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input asp-for="IncludeDigits" />
                    @StringResources.IncludeDigits
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input asp-for="IncludeSymbols" />
                    @StringResources.IncludeSymbols
                </label>
            </div>

            <button id="modal-@Model.Id-generate-password-btn" type="button" class="btn btn-primary" 
                    onclick="vaultExplorerIndex.submitGeneratePasswordForm('generate-password-form-@Model.Id','generated-password-@Model.Id');">
                <span class="glyphicon glyphicon-export"></span> @StringResources.Generate
            </button>

            <div class="form-group">

                <label for="generated-password-@Model.Id">@StringResources.GeneratedPassword</label>
                <div class="input-group">
                    <input type="password" id="generated-password-@Model.Id" class="form-control" />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@StringResources.ShowHide"
                                onclick="vaultExplorerIndex.toggleShowPassword(this,'generated-password-@Model.Id');">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button id="generate-password-modal-@Model.Id-ok-btn" type="button" class="btn btn-primary" 
                onclick="vaultExplorerIndex.acceptGeneratedPassword('generate-password-modal-@Model.Id', 'modal-password-@Model.Id', 'generated-password-@Model.Id');" >@StringResources.Ok</button>
    </modal-footer>
</bootstrap-modal>

<script type="text/javascript">
    $.validator.unobtrusive.parse($('#generate-password-form-@Model.Id'));
    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover'});
    $("#generate-password-modal-@Model.Id").modal({ backdrop: 'static', keyboard: false });
</script>