
@section Styles{
    <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.css" minified-auto-switch="true" />
}

@section Scripts {
    <script src="~/lib/jstree/src/jstree.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/js/vaultExplorer/vaultExplorerIndex.js" asp-append-version="true" minified-auto-switch="true"> </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button id="add-group-button" type="button" class="btn btn-primary"><span class="fa fa-folder button-glyphicon"></span>@StringResources.AddGroup</button>
        <button id="add-sub-group-button" type="button" class="btn btn-primary" disabled><span class="fa fa-folder-open button-glyphicon"></span>@StringResources.AddSubGroup</button>
    </div>
    <div class="btn-group" role="group">
        <button id="edit-group-button" type="button" class="btn btn-primary" disabled><span class="glyphicon glyphicon-pencil button-glyphicon"></span>@StringResources.EditGroup</button>
        <button id="delete-group-button" type="button" class="btn btn-danger" disabled><span class="glyphicon glyphicon-trash button-glyphicon"></span>@StringResources.DeleteGroup</button>
    </div>
    <div class="btn-group" role="group">
        <button id="add-entry-button" type="button" class="btn btn-primary" disabled><span class="fa fa-key button-glyphicon"></span>@StringResources.AddEntry</button>
    </div>
</div>



<div class="vault-explorer-body">
    <div class="vault-explorer-tree-wrapper">
        <div class="tree-header">@StringResources.Groups</div>
        <div id="vault-tree"></div>
    </div>
    <div class="vault-explorer-entries-grid">
        <div id="entries-grid" class="vault-explorer-entries-table-wrapper">
            @{ await Html.RenderPartialAsync("GroupEntriesGrid", new List<EntryGridViewModel>()); }
        </div>
    </div>
</div>